*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0;
}

form input,button{
    width: 100%;
    height: 2rem;
    padding-left: 0.25rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}
form input{
    border: 1px solid lightgray;
}

form .drop-down{
    margin:1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: .75rem;
    border: 1px solid lightgray;
}
.drop-down i{
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.country-code select{
    border: none;
    outline: none;
}

form button{
    margin-top: 2rem;
    background-color: #af4d98;
    color: #fff;
    height: 2.5rem;
    cursor: pointer;
}

